/* tried margin: auto - didnt like the way it looked. but i might use this layout for future projects also. */

body {
   height:700px;
   width:700px;
   background-color: black;
}
/* this doesnt send the info anywhere, i dont think many people will be sending their info anyways */


.footer {
    overflow: auto;
    width:700px;
    height:300px;
}


.navbar{
    display:block;
    margin:auto;
    height:45px;
    width:400px;
    border-style:solid;
    border-color:blue;
    text-indent: 98px;
    background-image:url(paint.jpg)
    }


.main {
    display:inline-block;
    height:400px;
    width:500px;
    color:blue;
    text-align:center;
    }
.main img {
    display:block;
    width:500px;
    height:400px;
}

.side {
    display:block;
    background-color:#ffff33;
    float:left;
    height:450px;
    width:7px;
}

.sideHistory {
        display:inline-block;
    background-color:#ffff33;
    height:440px;
    width:7px;
    
}


/* multiple side styles are repeated. This is for the use of new design while comparing the old design. **this was before github** */


.sideindex {
      display:inline-block;
    background-color:#ffff33;
    height:440px;
    width:7px;
}






